include COPYING
include README.rst
include doc/Makefile
include doc/manual.pdf
recursive-include doc/html *
recursive-include doc/source *
include trottersuzuki/src/*.h
include trottersuzuki/*.i
include trottersuzuki/src/*.cpp
include trottersuzuki/src/*.cu
include trottersuzuki/*.cxx
include trottersuzuki/*.py
include *.py
